<div class="edu">
  <div>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <h1>Education</h1>
    <hr style="width: 500px; margin: auto; padding-bottom: 20px">
    <div>
      <h2><i class="fa fa-circle" style="font-size:24px; padding-right: 15px"></i>Bachelor of Engineering</h2>
      <h3>Chandigarh University </h3>
      <h4> Mohali, Punjab</h4>
      <h4>2020 - 2024</h4>
      <p>Currently pursuing Bachelor of Engineering in Computer Science and Engineering with
        specialization in
        Artificial Intelligence and Machine Learning in Association with IBM</p>
      <hr>
      <h2><i class="fa fa-check-circle" style="font-size:24px; padding-right: 15px"></i>All India Senior School
        Certificate
        Examination</h2>
      <h3>JD Public school</h3>
      <h4>Daudpur, Saran, Bihar</h4>
      <h4>2018 - 2020</h4>
      <hr>
      <h2><i class="fa fa-check-circle" style="font-size:24px; padding-right: 15px"></i>All India Secondary School
        Examination
      </h2>
      <h3>ST Joseph Academy</h3>
      <h4>Garkha, Saran, Bihar</h4>
      <h4>2018</h4>
    </div>
  </div>
</div>
