div {
  margin: 20px 50px;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: auto;
}

ul a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

li {
  width: 30%;
  border: 1px solid black;
  margin: 15px auto;
  padding: 10px 0;
  border-radius: 15px;
}

li:hover {
  background-color: #f2f2f2;
}

i {
  margin-right: 20px;
}
