<div>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
  <h1>Connect with me</h1>
  <ul>
    <li><a class="text" href="https://www.linkedin.com/in/riturajramann/" target="_blank"><i
      class="bi bi-linkedin"></i>LinkedIn</a></li>

    <li><a class="text" href="https://github.com/RITURAJRAMAN" target="_blank"><i class="bi bi-github"></i>Github</a>

    <li><a class="text" href="https://www.hackerrank.com/Rituraj_Raman" target="_blank"><i
      class=""></i>Hackerrank</a></li>

    <li><a class="text" href="https://www.codechef.com/users/riturajraman1" target="_blank"><i
      class=""></i>Codechef</a></li>

    <li><a class="text" href="https://www.hackerearth.com/@RITURAJ_RAMAN" target="_blank"><span
      class="iconify" data-icon="simple-icons:hackerearth"></span>Hackerearth</a></li>

    <li><a class="text" href="https://twitter.com/RITURAJRAMAN123" target="_blank"><i class="bi bi-twitter-x"></i>Twitter</a>
    </li>

    <li><a class="text" href="https://www.instagram.com/riturajraman_/" target="_blank"><i class="bi bi-instagram"></i>Instagram</a>
    </li>

    <li><a class="text" href="https://www.facebook.com/riturajramansmart/" target="_blank"><i
      class="bi bi-facebook"></i>Facebook</a></li>

    <li><a class="text" href="https://www.youtube.com/channel/UCj1prnqkTBENhSSkvg6AFQA" target="_blank"><i
      class="bi bi-youtube"></i>YouTube</a></li>
  </ul>
</div>
