<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet">
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
<div class="container">
  <img alt="Rituraj" height="200"
       ngSrc="https://media.licdn.com/dms/image/D5603AQHb-H_jKK_4Cw/profile-displayphoto-shrink_200_200/0/1707144594676?e=2147483647&v=beta&t=wJMiB3oSMjdgn6kV4MAhTKWMAuROFa5EQwSY6cNWvK0"
       width="200">
  <h1>Rituraj Raman</h1>
  <h3>Intern @Evalueserve | Machine Learning | Deep Learning | Data Science | Frontend Web Developer | Python Programmer
    | C/C++ Programmer</h3>
  <h4><i class="fa fa-phone" style="font-size:22px"></i> +91 xxxxxx2829 | &nbsp;<i
    class="fa fa-envelope" style="font-size:20px">&nbsp;</i>
    <!-- <a href="mailto:riturajraman12345@gmail.com"> -->
    <a class="mail" href="#">riturajramanxxxxx@gmail.com</a>
  </h4>
  <hr>
  <p>
    I am a skilled frontend developer and python programmer who specializes in creating user-friendly, efficient, and
    innovative web and AI solutions. My experience includes working on a variety of projects utilizing Machine Learning,
    Data Science, Deep Learning, HTML, CSS, JavaScript, Bootstrap, Flask, TensorFlow, and other tools and frameworks to
    design, develop, and deploy web applications and machine learning models.</p>

  <p>Currently, I am working as an Intern at Evalueserve. I am also pursuing a Bachelor of Engineering degree in
    Computer
    Science and Engineering with Specialization in Artificial Intelligence and Machine Learning at Chandigarh
    University, where I have acquired a strong foundation in Machine Learning, Data Science, Deep Learning, ML
    algorithms and Python Programming. In addition, I have a deep understanding of various AI concepts and techniques,
    such as Neural Networks, Natural Language Processing, Machine Learning and Deep Learning.</p>

  <p>To expand my skills and knowledge in Machine Learning, Deep Learning, Natural Language Processing and AI, I have
    completed various online courses and certifications. My ultimate goal is to apply my programming and AI expertise to
    tackle real-world problems and contribute to the advancement and innovation of web and AI technologies.</p>
</div>
