.container {
  text-align: center;
  padding-top: 20px;
}

img {
  border-radius: 50%;
}

.mail {
  text-decoration: none;
  color: black;
}

p {
  padding: 0 30px;
  text-align: justify;
}
