<div>
  <div class="img"><img alt="Rituraj"
                        src="https://media.licdn.com/dms/image/D5603AQHb-H_jKK_4Cw/profile-displayphoto-shrink_200_200/0/1707144594676?e=2147483647&v=beta&t=wJMiB3oSMjdgn6kV4MAhTKWMAuROFa5EQwSY6cNWvK0">
  </div>
  <h1 routerLink="/">Rituraj Raman</h1>
  <p>Intern @<a href="https://evalueserve.com" target="_blank">Evalueserve</a></p>
  <hr>
  <ul>
    <li>
      <a routerLink="/home">Home</a>
    </li>
    <li>
      <a routerLink="/education">Education</a>
    </li>
    <li>
      <a routerLink="/projects">Projects</a>
    </li>
    <li>
      <a routerLink="skills">Skills</a>
    </li>
    <li>
      <a routerLink="experience">Experience</a>
    </li>
    <li>
      <a routerLink="achievements">Achievements</a>
    </li>
    <li>
      <a routerLink="contact">Contact Me</a>
    </li>
    <li>
      <a download="resume" href="./assets/Rituraj%20Raman%20Resume.pdf" style="color: #ff0000">Download Resume</a>
    </li>
  </ul>
</div>
